html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
}

.icon-button {
  cursor: pointer;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
