html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
}

.icon-button {
  cursor: pointer;
  transition: color 0.2s;
  color: #002855;

  &:hover {
    color: #0353a4;
  }
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .title {
    margin-bottom: 0;
    color: #001233;
  }

  .sub-title {
    font-weight: normal;
    color: #7d8597;
    text-align: center;
  }
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
